.collections-wrapper {
  @media (max-width: 650px) {
    padding: 100px 20px;

    .collections-main {
      .data-item-list {
        flex-basis: 100% !important;
      }
    }
  }

  @media (min-width: 650px) and (max-width: 950px) {
    .collections-main {
      column-gap: 3% !important;

      .data-item-list {
        flex-basis: 48% !important;
      }
    }
  }

  @media (min-width: 650px) and (max-width: 1100px) {
    padding: 155px 70px;
  }

  @media (min-width: 1100px) {
    padding: 155px 200px;
  }

  .collections-main {
    display: flex;
    column-gap: 5%;
    flex-flow: row wrap;
    flex-direction: row;
    max-width: 1300px;
    margin: auto;

    .data-item-list {
      align-items: center;
      flex-basis: 30%;
      margin-bottom: 15px;
      font-size: 13px;
      padding: 10px;
      box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.15);

      .collections-top {
        .collections-image {
          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
          }
        }
      }

      .collections-bottom {
        padding-top: 5px;

        .collections-text-preview {
          display: flex;
          justify-content: space-between;

          .collections-text {
            font-weight: 600;
            overflow: hidden;
          }

          .collections-preview {
            a {
              color: $color-ash;
              text-decoration: none;
            }
          }
        }

        .collections-date {
          color: $color-ash;
        }

        .collections-etc {
          display: grid;
          grid-template-columns: auto auto 1fr;
          padding-top: 5px;
          align-items: center;
          font-weight: bold;

          .collections-etc-image {
            padding-right: 20px;
          }

          .collections-etc-download {
            padding-right: 20px;
          }

          .collections-etc-edit {
            justify-self: flex-end;
          }
        }
      }
    }
  }
}
