.project-edit-container {
    display: flex;
    justify-content: center;
    .project-edit-inner-container {
        .project-edit-pd {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            color: #C2A47E;
        }
        .project-edit-pt {
            padding-top: 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: #373737;
        }
        .project-edit-date {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: #373737;
        }
        .project-edit-desc {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: #373737;
        }
        .project-edit-cd {
            padding-top: 44px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            color: #C2A47E;
        }
        .project-edit-cn {
        	padding-top: 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: #373737;
        }
        .project-edit-ca {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: #373737;
        }
        .project-edit-button-container {
            display: flex;
            justify-content: flex-end;
            .project-edit-button {
                color: #FFFFFF;
                background-color: #0E203D;
                width: 84.4px;
                height: 35px;
                border-radius: 0px;
                border: none;
                font-size: 14px;
            }
        }
    }
    @media (max-width: 650px) {
        padding-top: 30px;
        .project-edit-inner-container {
            width: 80%;
            .project-edit-button-container {
                .project-edit-button {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }
    @media (min-width: 650px) and (max-width: 1100px) {
        padding-top: 80px;
        .project-edit-inner-container {
            width: 70%;
            .project-edit-button-container {
                .project-edit-button {
                    margin-top: 100px;
                    margin-bottom: 120px;
                }
            }
        }
    }
    @media (min-width: 1100px) {
        padding-top: 80px;
        .project-edit-inner-container {
            width: 60%;
            .project-edit-button-container {
                .project-edit-button {
                    margin-top: 100px;
                    margin-bottom: 120px;
                }
            }
        }
    }
}