.footer-background {
  @media (max-width: 715px) {
    background: #373737;
    .footer-list {
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      padding: 50px;
      a {
        text-decoration: none;
        color: white;
        font-weight: normal;
      }
      .footer-1 {
        padding-bottom: 50px;
        .footer-1-1 {
          padding-bottom: 15px;
          font-size: 24px;
        }
      }
      .footer-2 {
        .footer-2-1 {
          padding-bottom: 15px;
          font-size: 24px;
        }
      }
      .footer-3 {
        padding-top: 50px;
        font-weight: normal;
      }
    }
  }
  @media (min-width: 715px) and (max-width: 990px) {
    background: #373737;
    .footer-list {
      display: flex;
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 75px 55px 75px 55px;
      a {
        text-decoration: none;
        color: white;
        font-weight: normal;
      }
      .footer-1 {
        width: 33%;
        .footer-1-1 {
          padding-bottom: 15px;
        }
      }
      .footer-2 {
        width: 33%;
        .footer-2-1 {
          padding-bottom: 15px;
        }
      }
      .footer-3 {
        width: 35%;
        padding-top: 100px;
        font-weight: normal;
        text-align: right;
      }
    }
  }
  @media (min-width: 990px) {
    background: #373737;
    .footer-list {
      display: flex;
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 75px 55px 75px 55px;
      a {
        text-decoration: none;
        color: white;
        font-weight: normal;
      }
      .footer-1 {
        width: 30%;
        .footer-1-1 {
          padding-bottom: 15px;
        }
      }
      .footer-2 {
        width: 30%;
        .footer-2-1 {
          padding-bottom: 15px;
        }
      }
      .footer-3 {
        width: 40%;
        padding-top: 100px;
        font-weight: normal;
        text-align: right;
      }
    }
  }
}
