.galleryall-wrapper {
	.gallery-title {
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;
	a {
		color: #000000;
	}
	a:hover {
		color: #c2a47e;
	}
}
.galleryall-cards-container {
	display: flex;
	row-gap: 30px;
		img {
			width: 100%;
			height: 250px;
			object-fit: cover;
			box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.15);
		}
		.cards-text {
			padding: 10px 15px;
			.cards-text1 {
				font-size: 14px;
				font-style: normal;
				font-weight: bold;
				color: #000000;
			}
			.cards-text2 {
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				color: #000000;
			}
	}
}
.galleryall-pagination {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
@media (max-width: 650px) {
	padding: 120px 20px 75px 20px;
	.search-input {
		width: 280px;
	}
	.galleryall-cards-container {
		// padding: 0px 20px 0px 20px;
		flex-direction: column;
		margin-top: 100px;
    }
}
@media (min-width: 650px) and (max-width: 1100px) {
	padding: 200px 50px 150px 50px;
	.search-input {
		width: 337px;
	}
	.galleryall-cards-container {
		// padding: 0px 50px 0px 50px;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 200px;
		.galleryall-cards {
			flex-basis: 45%;
		}
    }
}
@media (min-width: 1100px) {
	padding: 200px 150px 150px 150px;
	.search-input {
		width: 337px;
	}
	.galleryall-cards-container {
		// padding: 0px 150px 0px 150px;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 200px;
		.galleryall-cards {
			flex-basis: 30%;
		}
    }
  }
}
