.gallery-title {
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	color: #000000;
	padding: 200px 220px 200px 220px;
	text-align: center;
}
.gallery-container {
	padding: 0px 150px 0px 150px;
	height: 1600px;
	.gallery-cards {
		 
	}
}