.gallery-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	.gallery-logo {
		widht: 100px;
		height: 100px;
	}
	.logo-name {
		font-size: 24px;
		font-style: normal;
		font-weight: bold;
		color: #000000;
		margin-top: 20px;
	}
	.gallery-search {
		margin-top: 100px;
		display: flex;
		.search-input {
			font-size: 14px;
            height: 40px;
            background: #F8F8F8;
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            border: none;
            padding-left: 40px;
            padding-right: 15px;
		}
		.search-input-icon {
			position: absolute;
			margin-left: 15px;
			margin-top: 8px;
		}
	}
}
.gallery-wrapper {
	display: flex;
	row-gap: 30px;
		.cards-img {
			width: 100%;
			height: 250px;
		}
		.cards-text {
			padding: 10px 0px 10px 15px;
		.cards-text1 {
			font-size: 14px;
			font-style: normal;
			font-weight: bold;
			color: #000000;
		}
		.cards-text2 {
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			color: #000000;
		}
		}
}
.gallery-pagination {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
@media (max-width: 650px) {
	.gallery-head {
		padding: 50px 0px 50px 0px;
	}
	.search-input {
		width: 280px;
	}
	.gallery-wrapper {
		padding: 0px 20px 0px 20px;
		flex-direction: column;
    }
    .gallery-pagination {
    	margin-bottom: 50px;
    }

}
@media (min-width: 650px) and (max-width: 1100px) {
	.gallery-head {
		padding: 100px 220px 100px 220px;
	}
	.search-input {
		width: 337px;
	}
	.gallery-wrapper {
		padding: 0px 50px 0px 50px;
		flex-wrap: wrap;
		justify-content: space-between;
		.gallery-cards {
			flex-basis: 45%;
		}
    }
    .gallery-pagination {
    	margin-bottom: 200px;
    }
}
@media (min-width: 1100px) {
	.gallery-head {
		padding: 100px 220px 100px 220px;
	}
	.search-input {
		width: 337px;
	}
	.gallery-wrapper {
		padding: 0px 150px 0px 150px;
		flex-wrap: wrap;
		justify-content: space-between;
		// column-gap: 57px;
		// column-gap: 40px;
		// align-items: stretch;
		.gallery-cards {
			flex-basis: 30%;
		}
    }
    .gallery-pagination {
    	margin-bottom: 200px;
    }
}