.gallery-title {
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	color: #000000;
	padding: 200px 220px 200px 220px;
	text-align: center;
}
.gallery-container {
	padding: 0px 150px 0px 150px;
	// height: 1600px;
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
	.gallery-cards {
		// flex-basis: 30%;
		.gallery-cards-img {
			width: 100%;
			height: 100%;
		}
		.gallery-cards-text {
			padding: 10px 0px 20px 15px;
		.gallery-cards-text1 {
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			color: #000000;
		}
		.gallery-cards-text2 {
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			color: #000000;
		}
		}
	}
}