.port-home {
  @media (max-width: 715px) {
    padding-top: 50px;

    .home-template {
      padding-right: 55px;
      padding-left: 55px;

      .home-template-text {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 20px;

        .home-template-text-2 {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .home-template-mid {
        text-align: center;

        .home-template-mid-left {
          padding-top: 30px;
          padding-bottom: 30px;
          font-size: 12px;

          .mid-left-1 {
            color: #c2a47e;
            padding-bottom: 5px;
          }
        }

        .home-template-mid-center {
          img {
            width: 100%;
            height: 100%;
          }
        }

        .home-template-mid-right {
          padding-top: 20px;
          padding-bottom: 20px;

          .mid-right-text {
            color: #c2a47e;
            font-size: 12px;
          }

          .mid-right-mode {
            display: flex;
            justify-content: center;
            padding-top: 10px;

            button {
              border: none;
              border-radius: 30px;
              font-size: 12px;
              padding: 5px 10px 5px 10px;
            }

            .home-template-minimalist {
              padding-right: 10px;
            }

            .home-template-classic {
              padding-right: 10px;
            }

            :focus {
              font-weight: bold;
              outline: none;
            }
          }
        }
      }
    }

    .home-template-accs {
      background-color: #f8f8f8;
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 12px;
      text-align: center;

      .home-template-accs-1 {
        margin-left: auto;
      }

      .home-template-accs-2 {
        color: #c2a47e;
      }
    }

    .port-home-slideone {
      background: url('../img/home/home-laptop-cover.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: white;
      padding: 55px;
      align-items: center;
      text-align: center;

      .slideone-img {
        img {
          width: 100%;
        }
      }

      .slideone-text {
        letter-spacing: -0.24px;

        .slideone-text-1 {
          padding-top: 20px;
          padding-bottom: 10px;
          font-size: 14px;
          font-weight: bold;
        }

        .slideone-text-2 {
          font-size: 24px;
        }

        .slideone-text-3 {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .port-home-slidetwo {
      padding: 50px 55px 50px 55px;
      text-align: center;
      align-items: center;
      letter-spacing: -0.24px;

      .slidetwo-text {
        padding-bottom: 30px;

        .slidetwo-text-1 {
          font-size: 14px;
          font-weight: bold;
          color: $color-ash;
          padding-bottom: 20px;
        }

        .slidetwo-text-2 {
          font-size: 24px;
        }

        .slidetwo-text-3 {
          font-size: 12px;
          font-weight: 500;
        }
      }

      .slidetwo-img {
        img {
          width: 100%;
        }
      }
    }

    .home-product {
      padding: 20px 55px 20px 55px;
      text-align: center;

      .home-product-text {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 50px;
      }

      .home-product-list {
        padding-bottom: 55px;

        .home-product-collection {
          padding-bottom: 20px;

          .collection-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .collection-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .collection-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-projects {
          padding-top: 20px;
          padding-bottom: 20px;

          .projects-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .projects-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .projects-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-package {
          padding-top: 20px;

          .package-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .package-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .package-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-line {
          border: 1px solid #e3e3e3;
        }
      }
    }
  }
  @media (min-width: 715px) and (max-width: 990px) {
    padding-top: 100px;

    .home-template {
      padding-right: 55px;
      padding-left: 55px;

      .home-template-text {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 20px;

        .home-template-text-2 {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .home-template-mid {
        display: flex;

        .home-template-mid-left {
          flex-grow: 1;
          width: 25%;
          padding-top: 130px;
          font-size: 12px;

          .mid-left-1 {
            color: #c2a47e;
            padding-bottom: 5px;
          }
        }

        .home-template-mid-center {
          width: 50%;
          flex-grow: 1;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .home-template-mid-right {
          width: 25%;
          flex-grow: 1;
          padding-top: 50px;

          .mid-right-text {
            color: #c2a47e;
            font-size: 12px;
          }

          .mid-right-mode {
            padding-top: 10px;

            button {
              border: none;
              border-radius: 30px;
              font-size: 12px;
              padding: 5px 10px 5px 10px;
            }

            .home-template-minimalist {
              padding-bottom: 10px;
            }

            .home-template-classic {
              padding-bottom: 10px;
            }

            :focus {
              font-weight: bold;
              outline: none;
            }
          }
        }
      }
    }

    .home-template-accs {
      background-color: #f8f8f8;
      display: flex;
      margin-top: -50px;
      padding-top: 55px;
      padding-bottom: 50px;
      flex-direction: column;
      font-size: 12px;

      .home-template-accs-1 {
        margin-left: auto;
        padding-bottom: 7px;
      }

      .home-template-accs-2 {
        color: #c2a47e;
      }
    }

    .port-home-slideone {
      background: url('../img/home/home-laptop-cover.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      display: flex;
      color: white;
      padding: 55px;
      align-items: center;

      .slideone-img {
        width: 50%;
        img {
          width: 100%;
        }
      }

      .slideone-text {
        width: 50%;
        padding-left: 20px;
        letter-spacing: -0.24px;

        .slideone-text-1 {
          padding-bottom: 25px;
          font-size: 14px;
          font-weight: bold;
        }

        .slideone-text-2 {
          font-size: 24px;
        }

        .slideone-text-3 {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .port-home-slidetwo {
      display: flex;
      padding: 120px 55px 120px 55px;
      align-items: center;
      letter-spacing: -0.24px;

      .slidetwo-text {
        width: 60%;

        .slidetwo-text-1 {
          font-size: 14px;
          font-weight: bold;
          color: $color-ash;
          padding-bottom: 20px;
        }

        .slidetwo-text-2 {
          font-size: 24px;
        }

        .slidetwo-text-3 {
          font-size: 12px;
          font-weight: 500;
        }
      }

      .slidetwo-img {
        width: 40%;

        img {
          width: 100%;
        }
      }
    }

    .home-product {
      padding: 20px 55px 70px 55px;

      .home-product-text {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 90px;
      }

      .home-product-list {
        display: flex;
        padding-bottom: 55px;

        .home-product-collection {
          min-width: 33.3%;
          padding-right: 30px;

          .collection-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .collection-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .collection-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-projects {
          min-width: 33.3%;
          padding-left: 30px;
          padding-right: 30px;

          .projects-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .projects-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .projects-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-package {
          min-width: 33.3%;
          padding-left: 30px;

          .package-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .package-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .package-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-line {
          border: 1px solid #e3e3e3;
        }
      }
    }
  }

  @media (min-width: 990px) {
    padding-top: 100px;

    .home-template {
      padding-right: 55px;
      padding-left: 55px;

      .home-template-text {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 20px;

        .home-template-text-2 {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .home-template-mid {
        display: flex;

        .home-template-mid-left {
          flex-grow: 1;
          width: 25%;
          padding-top: 130px;
          font-size: 12px;

          .mid-left-1 {
            color: #c2a47e;
            padding-bottom: 5px;
          }
        }

        .home-template-mid-center {
          width: 50%;
          flex-grow: 1;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .home-template-mid-right {
          width: 25%;
          flex-grow: 1;
          padding-top: 50px;

          .mid-right-text {
            color: #c2a47e;
            font-size: 12px;
          }

          .mid-right-mode {
            display: flex;
            padding-top: 10px;

            button {
              border: none;
              border-radius: 30px;
              font-size: 12px;
              padding: 5px 10px 5px 10px;
            }

            .home-template-minimalist {
              padding-right: 10px;
            }

            .home-template-classic {
              padding-right: 10px;
            }

            :focus {
              font-weight: bold;
              outline: none;
            }
          }
        }
      }
    }

    .home-template-accs {
      background-color: #f8f8f8;
      display: flex;
      margin-top: -120px;
      padding-top: 105px;
      padding-bottom: 50px;
      flex-direction: column;
      font-size: 12px;

      .home-template-accs-1 {
        margin-left: auto;
        padding-right: 100px;
        padding-bottom: 7px;
      }

      .home-template-accs-2 {
        color: #c2a47e;
      }
    }

    .port-home-slideone {
      background: url('../img/home/home-laptop-cover.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      display: flex;
      color: white;
      padding: 55px;
      align-items: center;

      .slideone-img {
        width: 50%;

        img {
          width: 100%;
        }
      }

      .slideone-text {
        width: 50%;
        padding-left: 20px;
        letter-spacing: -0.24px;

        .slideone-text-1 {
          padding-bottom: 25px;
          font-size: 14px;
          font-weight: bold;
        }

        .slideone-text-2 {
          font-size: 24px;
        }

        .slideone-text-3 {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .port-home-slidetwo {
      display: flex;
      padding: 120px 55px 120px 55px;
      align-items: center;
      letter-spacing: -0.24px;

      .slidetwo-text {
        width: 60%;

        .slidetwo-text-1 {
          font-size: 14px;
          font-weight: bold;
          color: $color-ash;
          padding-bottom: 20px;
        }

        .slidetwo-text-2 {
          font-size: 24px;
        }

        .slidetwo-text-3 {
          font-size: 12px;
          font-weight: 500;
        }
      }

      .slidetwo-img {
        width: 40%;

        img {
          width: 100%;
        }
      }
    }

    .home-product {
      padding: 20px 55px 70px 55px;

      .home-product-text {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 90px;
      }

      .home-product-list {
        display: flex;
        padding-bottom: 55px;

        .home-product-collection {
          min-width: 33.3%;
          padding-right: 30px;

          .collection-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .collection-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .collection-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-projects {
          min-width: 33.3%;
          padding-left: 30px;
          padding-right: 30px;

          .projects-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .projects-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .projects-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }

        .home-product-package {
          min-width: 33.3%;
          padding-left: 30px;

          .package-1 {
            padding-bottom: 20px;
            font-weight: bold;
            color: #0e203d;
          }

          .package-2 {
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $color-ash;
          }

          .package-3 {
            font-size: 12px;

            a {
              color: #c2a47e;
              text-decoration: none;
            }
          }
        }
        
        .home-product-line {
          border: 1px solid #e3e3e3;
        }
      }
    }
  }
}
