.port-background {
  background: url(../img/background-user.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 130px 60px 150px 60px;
  .port-main {
    * {
      background: $color-white;
    }
    .port-main-header {
      padding-top: 40px;
      padding-left: 60px;
      padding-right: 60px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .port-main-header-login {
        color: $color-ash;
        a {
          text-decoration: underline;
        }
      }
    }
    .port-main-body {
      padding-top: 130px;
      padding-bottom: 120px;
      text-align: center;
      align-items: center;
      font-weight: bold;
      .port-main-body-create {
        font-size: 24px;
        padding-bottom: 30px;
      }
      input {
        color: $color-ash;
        background: #fcfcfc;
        width: 340px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        outline: none;
        background: #fcfcfc;
        padding-left: 15px;
      }
      button {
        background: #0e203d;
        color: $color-white;
        padding-top: 11px;
        padding-right: 140px;
        padding-left: 140px;
        padding-bottom: 11px;
      }
    }
    .port-main-footer {
      text-align: center;
      padding-top: 70px;
      padding-bottom: 50px;
      a {
        text-decoration: none;
        color: $color-ash;
      }
    }
  }
}
