.port-background {
  @media (max-width: 715px) {
    background: url(../img/background-user.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    padding: 60px 20px 60px 20px;
    .port-main {
      background: $color-white;
      min-height: calc(100vh - 120px); // (padding top + bot) / 2
      .port-main-header {
        padding-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        height: 100%;
        text-align: center;
        .port-main-header-link {
          padding-top: 30px;
          color: $color-ash;
          a {
            color: #0e203d;
            text-decoration: underline;
          }
        }
      }
      .port-text {
        text-align: center;
        padding-top: 50px;
        font-weight: bold;
        line-height: 48px;
        font-size: 24px;
      }
      .user-form {
        padding: 60px 0;
        font-weight: bold;
        Button {
          background: #0e203d;
          border: none;
          border-radius: 0%;
          font-size: 14px;
          font-weight: bold;
        }
        form {
          margin: 0 auto;
          max-width: 320px;
        }
      }
      .port-main-footer {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 50px;
        a {
          text-decoration: none;
          color: $color-ash;
        }
      }
      .port-main-footer-login {
        text-align: center;
        padding-top: 242px;
        padding-bottom: 50px;
        a {
          text-decoration: none;
          color: $color-ash;
        }
      }
    }
  }

  @media all and (min-width: 715px) {
    background: url(../img/background-user.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    padding: 60px;
    .port-main {
      background: $color-white;
      min-height: calc(100vh - 120px);
      .port-main-header {
        padding-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .port-main-header-link {
          color: $color-ash;
          a {
            color: #0e203d;
            text-decoration: underline;
          }
        }
      }
      .port-text {
        text-align: center;
        padding-top: 100px;
        font-weight: bold;
        line-height: 48px;
        font-size: 24px;
      }
      .user-form {
        padding: 60px 0;
        font-weight: bold;
        Button {
          background: #0e203d;
          border: none;
          border-radius: 0%;
          font-size: 14px;
          font-weight: bold;
        }
        form {
          margin: 0 auto;
          max-width: 320px;
        }
      }
      .port-main-footer {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 50px;
        a {
          text-decoration: none;
          color: $color-ash;
        }
      }
      .port-main-footer-login {
        text-align: center;
        padding-top: 242px;
        padding-bottom: 50px;
        a {
          text-decoration: none;
          color: $color-ash;
        }
      }
    }
  }
}
