// padding 55px 300 px default
.packages-wrapper {
  @media (max-width: 650px) {
    padding: 100px 20px;

    .packages-header {
      text-align: center;

      .packages-header-text {
        padding-bottom: 20px;
      }
    }

    .packages-header-2 {
      .packages-header-search {
        display: flex;

        input {
          width: 100% !important;
        }

        .packages-header-search-icon {
          display: none;
        }
      }

      .packages-header-filter {
        float: right;
        padding-top: 10px;
      }
    }
  }

  @media (min-width: 650px) and (max-width: 1100px) {
    padding: 155px 125px;

    .packages-header {
      display: flex;
    }

    .packages-header-2 {
      display: flex;
    }
  }

  @media (min-width: 1100px) {
    padding: 155px 250px;

    .packages-header {
      display: flex;
    }

    .packages-header-2 {
      display: flex;
    }
  }

  .packages-header {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;

    .packages-header-text {
      font-size: 24px;
      font-weight: bold;
    }

    .packages-header-new {
      button {
        padding: 5px 25px;
        color: white;
        background: #c2a47e;
      }
    }
  }

  .packages-header-2 {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

    .packages-header-search {
      font-size: 12px;

      input {
        background: #f8f8f8;
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 10px 20px 10px 35px;
        width: 300px;
      }

      .packages-header-search-icon {
        margin-left: -290px;
        font-size: 22px;
      }
    }
  }
}
