.projects-wrapper {
  @media (max-width: 650px) {
    padding: 100px 20px;
  }

  @media (min-width: 650px) and (max-width: 1100px) {
    padding: 155px 125px;
  }

  @media (min-width: 1100px) {
    padding: 155px 200px;
  }

  
}