.profile-container {
  display: flex;
  justify-content: center;
  .profile-inner-container {
    .profile-bd {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      color: #c2a47e;
    }
    .profile-bn {
      padding-top: 24px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      color: #373737;
    }
    .profile-ad {
      padding-top: 24px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      color: #373737;
    }
    .profile-photo {
      .profile-photo-text {
        padding-top: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: #373737;
      }
      .profile-photo-upload {
        padding-top: 10px;
        padding-bottom: 15px;

        :hover {
          cursor: pointer;
        }

        ::-webkit-file-upload-button {
          background: #c2a47e;
          color: white;
          padding: 5px 20px;
          border: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
      .profile-photo-preview {
        img {
          width: 200px;
          height: auto;
        }
      }
    }
    .profile-ac {
      padding-top: 44px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      color: #c2a47e;
    }
    .profile-name {
      padding-top: 24px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      color: #373737;
    }
    .profile-email {
      padding-top: 24px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      color: #373737;
    }
    .profile-button-container {
      display: flex;
      justify-content: flex-end;
      .profile-button {
        margin-top: 50px;
        margin-bottom: 50px;
        color: #ffffff;
        background-color: #0e203d;
        width: 84.4px;
        height: 35px;
        border-radius: 0px;
        border: none;
        font-size: 14px;
      }
    }
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    .profile-inner-container {
      width: 80%;
      .profile-button-container {
        .profile-button {
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }
    }
  }

  @media (min-width: 650px) and (max-width: 1100px) {
    padding-top: 80px;
    .profile-inner-container {
      width: 70%;
      .profile-button-container {
        .profile-button {
          margin-top: 100px;
          margin-bottom: 120px;
        }
      }
    }
  }

  @media (min-width: 1100px) {
    padding-top: 80px;
    .profile-inner-container {
      width: 60%;
      .profile-button-container {
        .profile-button {
          margin-top: 100px;
          margin-bottom: 120px;
        }
      }
    }
  }
}
