.minimalist-wrapper {
	padding-bottom: 100px;
	.minimalist-header {
		display: flex;
		.ch-background {
			flex-basis: 60%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.ch-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-basis: 40%;
			padding-top: 100px;
			padding-bottom: 200px;
			justify-content: space-between;
			.ch-logo-studioname {
				.ch-logo {
					padding-bottom: 10px;
					img {
						width: 100px;
						height: 100px;
						object-fit: cover;
					}
				}	
				.ch-studioname {
					font-size: 14px;
					color: #000000;
					text-align: center;
				}
			}
			.ch-title-date {
				.ch-title {
					font-size: 32px;
					color: #373737;
				}	
				.ch-date {
					font-size: 14px;
					color: #999999;
					text-align: center;
				}
			}	
			.ch-desc {
				font-size: 14px;
				color: #000000;
				padding: 0px 150px;
				text-align: -webkit-center;
			}
		}
	}
	.minimalist-main {
		padding: 80px 100px;
		.cm-title-studioname-info {
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
			.cm-title-studioname{
				.cm-title {
					font-size: 16px;
					color: #373737;
					font-weight: bold;
				}
				.cm-studioname {
					font-size: 14px;
					color: #999999;
				}
			}
			.cm-info {

			}
		}
	}
	.cm-cards-wrapper {
			display: grid;
			grid-template-columns: repeat(3, auto);
			grid-template-rows: repeat(3, auto);
			justify-items: stretch;
			gap: 30px;
			margin-top: 50px;
			// grid-auto-columns: minmax(100px, auto)
			img {
				height: auto;
				width: 100%;
				object-fit: cover;
			}
		}
	.minimalist-footer {
		text-align: center;
		.footer-text-top {
			font-size: 14px;
			color: #999999;
			span {

			}
		}
		.footer-text-bottom {
			font-size: 14px;
			color: #000000;
			span {
				text-decoration: underline;
			}
		}
	} 
}
			
		
