$color-brand-primary: #0e203d;
$color-brand-secondary: #c2a47e;
$color-state-info: #3e89ae;
$color-state-success: #44b70e;
$color-state-warning: #f8d277;
$color-state-error: #dd5571;
$color-black: #000000;
$color-gun: #373737;
$color-ash: #999999;
$color-white: #ffffff;
$color-mint: #f3f8f8;
$color-dark: #0e203d;
$color-cream: #f2ebdc;
$color-vogue: #e3e3e3;
$color-wheat: #f8f8f8;
$color-gold: #c2a47e;
