$color-brand-primary: #214457;
$color-brand-secondary: #F2D555;
$color-state-info: #3E89AE;
$color-state-success: #61D3A4;
$color-state-warning: #F8D277;
$color-state-error: #DD5571;
$color-black: #000000;
$color-gun: #373737;
$color-ash: #999999;
$color-white: #FFFFFF;
$color-mint: #828282;
$color-lime: #BDBDBD;
$color-cream: #F9F5E4;
$color-vogue: #333333;
$color-wheat: #4F4F4F;