@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './variables';
@import './home';
@import './footer';
@import './header';
@import './loginRegister';
@import './privacy';
@import './download';
@import './headerHome';
@import './dashboard';
@import './collectionNew';
@import './headerProps';
@import './template';
@import './collectionEdit';
@import './profile';
@import './projectNew';
@import './projectEdit';
@import './collections';
@import './projects';
@import './galleryAll';
@import './packages';
@import './packagesNew';
@import './switch';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.color-ash {
  color: $color-ash;
}

.color-gold {
  color: $color-gold;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.custom-form-port {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid $color-ash;
  background: #fcfcfc;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;

  &:focus {
    box-shadow: none !important;
    border-bottom: 2px solid black;
    background: #fcfcfc;
  }
}
