@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './variables';
@import './home';
@import './footer';
@import './header';
@import './loginRegister';
@import './privacy';
@import './download';
@import './headerHome';
@import './dashboard';
@import './collectionNew';
@import './headerProps';
@import './template';
@import './collectionEdit';
@import './profile';
@import './projectNew';
@import './projectEdit';
@import './collections';
@import './projects';
@import './galleryAll';
@import './packages';
@import './packagesNew';
@import './packagesEdit';
@import './switch';
@import './headerUser';
@import './galleryphoto';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.color-ash {
  color: $color-ash;
}

.color-gold {
  color: $color-gold;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.button-none {
  background: none;
  border: none;
}

.custom-form-port {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid $color-ash;
  background: #fcfcfc;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;

  &:focus {
    box-shadow: none !important;
    border-bottom: 2px solid black;
    background: #fcfcfc;
  }
}

.loader {
  position: absolute;
  left: 46%;
  top: 30%;
  z-index: 1;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0e203d;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
